@font-face {
	/* http://www.urbanfonts.com/fonts/Agent_Orange.htm */
	font-family: "AGENTORANGE";
	src: url("fonts/AGENTORANGE.TTF");
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "courier new", sans-serif; 
	background-image: url("../me.png"); 
	background-position: right bottom;	
	background-repeat: no-repeat; 
	background-color: #FAFAFA;
	
	
	border-width: 0px;
	padding: 0px;
	margin: 0px;

    position: relative;
	float: left;
	left: 2px;
	margin-bottom: 20px;
	
	height: auto !important;
	height: 100%;
	
	width: auto !important;
	width: 100%;
}

.header {
	font-family: "AGENTORANGE";
	font-size: 20px;
	position: relative;
	left: 10px;
}

.nav {
	position: relative;
	float: left;
	left: 10px;
	width: 100px;
	padding:10px 0;
	
	-moz-box-shadow: 1px 0px 0px #000000;
	-webkit-box-shadow: 1px 0px 0px #000000;
	box-shadow: 1px 0px 0px #000000;
}

.nav li, .nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.content {
	position: relative;
	float: left;
	left: 30px;
	height: 100%;
	padding:10px 0;
}
